<!-- We will initialise React on this div -->
<div id="view">
  <div class="container">
  <div class="form-horizontal">
      <h2>SINGEK SAG BLAST Server</h3>
      <h3>SINGEK</h3>
      <p>Single cell genomics (SCG), including single cell transcriptomics, is an emerging technology that has the potential to retrieve genomic information from individual uncultured microbes recovered directly from natural environments and promises to provide new tools to investigate microeukaryotes in unparalleled detail.</p>
      <p><a href="http://singek.eu">SINGEK is an EU H2020 Marie Skłodowska-Curie Innovative Training Network</a> devised to provide a unique and structured PhD training programme to a new generation of scientists with the highest expertise in Single Cell Genomics, from the initial stages of cell sorting to genome sequencing and gene annotation, to the full exploitation of the data obtained. The network is composed of a multidisciplinary team of researchers from nine institutions, well connected and with high expertise in eukaryotic SCG. SINGEK will drive training through research by both local and network-wide activities, secondments, and workshops, and by establishing an environment that extends far beyond each partner team.</p>
      <h3>Server</h3>
    <p>In order to better disseminate our data we have here provided a BLAST server using the platform developed by <a href ="https://academic.oup.com/mbe/article/36/12/2922/5549819">Priyam et al</a>. It consists of a database of 15 Stramenopile genomes, the 154 SAGs used to coassemble them, and predicted proteins and transcripts.</p>

<p>SINGEK H2020 MSCA-ITN-2015-ETN 675752</p>
<p>EU Contribution: 3.889.393,2 €</p>
<p>Duration: January 1st 2016 – May 31st 2020</p>
</p>
   
    </div>
  </div>
</div>

<!-- JS -->

<script src="vendor/system.js"></script>
<script src="config.js"></script>
